
.vid_container{

position: absolute;
top: -52%;
right: 0;
bottom: 0;
left: 0;
overflow: hidden;
z-index: -100;
height: 115%;
/* border: 2px solid red; */
}


#video-background {
position: absolute;
top: -42%;
left: 0;
width: 100%;
height: 115%;
filter: grayscale(100%) brightness(40%);
/* border: 2px solid red; */
}


.header {
height: 390px;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
position: relative;
/* border: 2px solid blue; */
/* padding-top: 40%; */
/* background: rgba(119,136,153, .2) */
}


.header img {
height: 180px;
width: 210px;
/* border: 2px solid red; */
margin-top: 30px;
margin-bottom: 12px;
opacity: 0.6;
}

.header #millstreet{
/* border: 2px solid red; */
letter-spacing: 5px;
margin-bottom: 12px;
}

.header h1 {
font-size: 23px;
color: white;
font-weight: 300;

}


.header #mobile_menu {
    display: none;
}

.header p {
width:  50%;
line-height: 200%;
margin-top: 30px;
border: 2px solid rgba(224, 218, 218, 0.3);
/* background-clip: padding-box; */

}

.nav_div{
height: 60px;
width: 78%;
margin-top: 30px;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row;
/* border: 2px solid red; */
}

.nav_div #one {
/* height: 40px;
width: 100px; */
border: none;
color: white;
padding: 16px 32px;
text-align: center;
text-decoration: none;
/* display: inline-block; */
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.4s;
border: 2px solid white;
outline: none;

background-color: transparent;
border: 2px solid #e7e7e7;
}

.nav_div #one:hover {
background-color: #e7e7e7;
}





