@media (max-width: 375px ) {

    .profile_div {
        margin-top: 10px;
        /* border: 2px solid red; */
    }

    .profile_div #white_line2 {
        width:  65%;
        border: 1px solid rgba(224, 218, 218, 0.3);
      }

    .profile_div h1 {
        font-size: 25px;
        margin-top: 10px;
    }

    .flex_container {
        /* border: 2px solid green; */
    }

    .profile_container {
        width: 90%;
        margin-top: 10px;
        /* border: 2px solid blue; */
    }

    .youtube {
        height: 200px;
        width: 250px;
    }

    .profile_container img {
        height: 200px;
        width: 250px;
    }

    .contactInfo_container {
        display: none;
    }
}