@media (max-width: 375px){
    
      .about-div h1 {
        font-size: 20px;
      }

      .about-div #white_line {
          width: 65%;
      }

      .about-div p {
        width:81%;
        font-size: 12px;
      }

      .about-div h2 {
          display: none;
          /* font-size: 13px;
          letter-spacing: 1px; */
      }

      .about-div h3 {
          display: initial;
          color: white;
          margin-top: 30px;
      }

      .mobile_call {
          margin-bottom: -18px;
      }


      .top_band_div h1 {
          font-size: 20px;
      }

      .top_band_div #white_line2 {
          width: 65%;
      }

      .band_box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          animation: none;
      }

      .band_box{
          width: 100%
      }

      .band_box h1 {
          font-size: 15px;
      }

      .band_box div {
          width: 60%;
      }
    }