/* body {
  margin: 0;
  padding: 0;
  background: black;
  /* background-attachment: fixed; */
  /* background-size: cover; */
 /* */

.App {
font-family:"Avenir", sans-serif !important;
/* margin: 0;
padding: 0;
width: 100%; */
background: black;
/* background-attachment: fixed; */
/* background-size: cover; */
}

@media (max-width: 375px){

  .about-div h1 {
    font-size: 20px;
  }
}


.about-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    padding-bottom: 50px;
    /* border: 1px solid red; */
  }
  
  .about-div h1 {
    font-size: 30px;
    letter-spacing: 4px;
    margin-top: 25px;
    /* border: 1px solid red; */
    
  }
  
  .about-div #white_line {
    width:  23%;
    line-height: 300%;
    margin-top: 5px;
    border: 2px solid rgba(224, 218, 218, 0.3);
  }
  
  .about-div p {
    width: 70%;
    /* position: relative; */
    margin-top: 25px;
    border: none;
  }

  .about-div h2 {
    font-size: 23px;
    margin-top: 30px;
    letter-spacing: 2px;
  }
  
  .top_band_div{
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* border: 2px solid blue; */
  
  }
  
  .top_band_div h1 {
    font-size: 30px;
    letter-spacing: 4px;
  }
  
  .top_band_div #white_line2 {
    width:  23%;
    line-height: 300%;
    margin-top: 5px;
    border: 2px solid rgba(224, 218, 218, 0.3);
  }

  
  
  .band_box {
    height: auto;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    margin-top: 15px;
    /* border: solid solid red; */
    margin-bottom: 50px;
    
  }
  
  .band_box div {
    height: 75%;
    width: 30%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 15px 15px 15px 15px;
    border: 2px solid rgb(216, 212, 212);
    padding-top: 2px;
    border-radius: 10px;
    -webkit-transition: all 200ms
      ease-in;
        -webkit-transform: scale(1); 
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1); 
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);   
    /* height: 350px;
    width: 500px;
    margin: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(165, 162, 162);
    border-radius: 10px; */
  }

  .band_box div:hover {
    box-shadow: 0px 0px 150px #b4b2b2;
    background-color: rgb(43, 38, 38);
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
  }

  .band_box div:active, input:focus{
    background-color: #e7e7e7;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(0.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(0.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(0.5);
    transition: all 200ms ease-in;
    transform: scale(0.5);
}

  .band_box h1 {
    font-size: 25px;
    margin-top: 10px;
  }

  .band_box div img {
    height: 80%;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 15px;
    /* border: 2px solid red; */
  }

  .band_box div p {
    width:  45%;
    line-height: 300%;
    margin-top: 5px;
    border: 2px solid rgba(224, 218, 218, 0.3);
  }
  
 
    